$contents-Colors: (
  main-Color: #006633,
  sub-Color: #935227,
  color-black: #000000,
  color-white: #ffffff,
  color-grey: #959595,
);
$font-size: (
  font-size-28px: 1.75rem,
  // 28px
  font-size-24px: 1.5rem,
  // 24px
  font-size-22px: 1.375rem,
  // 22px
  font-size-20px: 1.25rem,
  // 20px
  font-size-18px: 1.125rem,
  // 18px
  font-size-16px: 1rem,
  // 16px
  font-size-14px: 0.875rem,
  // 14px
  font-size-12px: 0.75rem // 12px,
);
